h1{
	font-family: "Jenna Sue";
	font-size: 50px;
}

nav {
font-family: "always  forever";
font-size: 20px;
}

body header p 
 { 
 width: 400px;
 }

h2 {
font-family:"moon flower", arial;
font-size: 40px;
color: maroon;
}

#container p {
font-family: "verdana";
}
strong {
font-family: "a day in september";
font-size: 20px;
color:green;
}

